.note
{
	margin-top: 15px;
    text-align: center;
    height: 70px;
    vertical-align: middle;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 70px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}
.margintop5 {
    margin-top: 5px;
}
.has-error input {
    border: 1px solid red;
}
.lhunset {
    line-height: unset;
}